<div *ngIf="strain" id="wbdv-page">
  <div class="border rounded px-3" id="strain-palette">
    <h1 class="display-4">{{strain._id}}</h1>
    <small>{{strain.race}}</small>
    <p *ngIf="strain.desc">{{strain.desc}}</p>
    <p *ngIf="!strain.desc">No description avaliable yet. Sorry</p>
    <div class="row" id="row-strain">
      <div class="col">
        <h4><i class="fa fa-lg fa-cutlery text-success"></i> Flavors</h4>
        <p *ngIf="strain.flavors == 0">Not known.</p>
        <ul class="list-group">
          <li class="list-group-item"
          *ngFor="let fla of strain.flavors">
          {{fla}}
        </li>
      </ul>
    </div>
    <div class="col">
      <h4><i class="fa fa-lg fa-plus-square text-primary"></i> Effects</h4>
      <p *ngIf="positiveEffect.length == 0">Not known.</p>
      <ul class="list-group">
        <li class="list-group-item"
        *ngFor="let eff of positiveEffect">
        {{eff._id}}
      </li>
    </ul>
  </div>
  <div class="rounded border container mt-2">
    <div class="form-horizontal">
      <h4 id="post-title">Post Review</h4>
      <div class="form-group">
          <label class="control-label" for="ratingFld">
              Score
          </label>
          <div class="">
            <input type="number"
                   id="ratingFld"
                   class="form-control"
                   min="1"
                   max="5"
                   step="1"
                   [(ngModel)]="ratingFld"/>
          </div>
      </div>

      <div class="form-group">
          <label class="control-label" for="descFld">
              Text
          </label>
          <div class="">
            <textarea type="text"
                   placeholder="Text"
                   id="descFld"
                   class="form-control"
                   [(ngModel)]="descFld"></textarea>
          </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="descFld">
        Comments
      </label>
      <div class="">
        <textarea type="text"
        placeholder="Write your review here."
        id="descFld"
        class="form-control"
        [(ngModel)]="descFld"></textarea>
      </div>
    </div>

    <div class="mb-2">
      <button id="loginBtn"
      class="btn btn-lg btn-primary btn-block"
      (click)="postReview()">
      Post
    </button>
  </div>
</div>
</div>
<h4 class="display-4" id="review-title">Reviews</h4>
<ul class="list-group">
  <p class="ml-4" *ngIf="reviews.length === 0">No reviews for this strain yet.</p>
  <div *ngFor="let review of reviews">
    <app-review-card [review]="review" [user]="user"></app-review-card>
  </div>
</ul>
</div>
