<div *ngIf="strain">
  <h1>{{strain._id}}</h1>
  <small>{{strain.race}}</small>
  <p *ngIf="strain.desc">{{strain.desc}}</p>
  <p *ngIf="!strain.desc">No description avaliable yet. Sorry</p>
  <div class="row">
    <div class="col">
      <h4><i class="fa fa-lg fa-cutlery text-success"></i> Flavors</h4>
      <p *ngIf="strain.flavors == 0">Not known.</p>
      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let fla of strain.flavors">
          {{fla}}
        </li>
      </ul>
    </div>
    <div class="col">
      <h4><i class="fa fa-lg fa-plus-square text-primary"></i> Effects</h4>
      <p *ngIf="positiveEffect.length == 0">Not known.</p>
      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let eff of positiveEffect">
          {{eff._id}}
        </li>
      </ul>
    </div>
    <div class="col">
      <h4><i class="fa fa-lg fa-minus-square text-info"></i> Effects</h4>
      <p *ngIf="negativeEffect.length == 0">Not known.</p>
      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let eff of negativeEffect">
          {{eff._id}}
        </li>
      </ul>
    </div>
    <div class="col">
      <h4><i class="fa fa-lg fa-medkit text-danger"></i> Effects</h4>
      <p *ngIf="medicalEffect.length == 0">Not known.</p>
      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let eff of medicalEffect">
          {{eff._id}}
        </li>
      </ul>
    </div>
  </div>
</div>
