<div *ngIf="strain" id="wbdv-page">
  <h1 class="display-4">{{strain._id}}</h1>
  <small>{{strain.race}}</small>
  <p *ngIf="strain.desc">{{strain.desc}}</p>
  <p *ngIf="!strain.desc">No description avaliable yet. Sorry</p>
  <div class="row">
    <div class="col">
      <h4><i class="fa fa-lg fa-cutlery text-success"></i> Flavors</h4>
      <p *ngIf="strain.flavors == 0">Not known.</p>
      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let fla of strain.flavors">
          {{fla}}
        </li>
      </ul>
    </div>
    <div class="col">
      <h4><i class="fa fa-lg fa-plus-square text-primary"></i> Effects</h4>
      <p *ngIf="positiveEffect.length == 0">Not known.</p>
      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let eff of positiveEffect">
          {{eff._id}}
        </li>
      </ul>
    </div>
    <div class="col">
      <h4><i class="fa fa-lg fa-minus-square text-info"></i> Effects</h4>
      <p *ngIf="negativeEffect.length == 0">Not known.</p>
      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let eff of negativeEffect">
          {{eff._id}}
        </li>
      </ul>
    </div>
    <div class="col">
      <h4><i class="fa fa-lg fa-medkit text-danger"></i> Treats</h4>
      <p *ngIf="medicalEffect.length == 0">Not known.</p>
      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let eff of medicalEffect">
          {{eff._id}}
        </li>
      </ul>
    </div>
  </div>
  <div class="rounded border container mt-2">
    <div class="form-horizontal">
      <h4>Post Review</h4>
      <div class="form-group">
          <label class="control-label" for="ratingFld">
              Score
          </label>
          <div class="">
            <input type="number"
                   placeholder="3"
                   id="ratingFld"
                   class="form-control"
                   [(ngModel)]="ratingFld"/>
          </div>
      </div>

      <div class="form-group">
          <label class="control-label" for="descFld">
              Text
          </label>
          <div class="">
            <textarea type="text"
                   placeholder="Text"
                   id="descFld"
                   class="form-control"
                   [(ngModel)]="descFld"></textarea>
          </div>
      </div>

      <div class="mb-2">
        <button id="loginBtn"
                class="btn btn-lg btn-primary btn-block"
                (click)="postReview()">
            Post
        </button>
      </div>
    </div>
  </div>
  <h4>Reviews</h4>
  <ul class="list-group">
    <p class="ml-4" *ngIf="reviews.length === 0">Nothing here yet.</p>
    <div *ngFor="let review of reviews">
      <app-review-card [review]="review" [user]="user"></app-review-card>
    </div>
  </ul>
</div>
