<div class="container" id="wbdv-page">
  <h1 class="display-4">Admin Table</h1>
  <div class="table-responsive">
    <table id="admin_table" class="table">
      <thead class="thead-light">
        <tr class="table">
          <th scope="col">Username</th>
          <th scope="col">Password</th>
          <th scope="col">Role</th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table">

          <th><input type="text" class="form-control" placeholder="username" id="username" [(ngModel)]="username" /></th>

          <th><input type="text" class="form-control" placeholder="password" id="password" [(ngModel)]="password" /></th>

          <th>
            <select value="REGULAR" placeholder="Regular" class="form-control" id="role" [(ngModel)]="role">
              <option value="REGULAR" selected>
                Regular
              </option>
              <option value="STORE">
                Store
              </option>
              <option value="CURATOR">
                Curator
              </option>
              <option value="ADMIN">
                Admin
              </option>
            </select>
          </th>

          <th>
            <button type="button" class="btn btn-primary" id='updateBtn' (click)="updateUser(username, password,role)">Update</button>
          </th>

          <th>
            <button type="button" class="btn btn-success" id='createBtn' (click)="createUser(username, password,role)">Create</button>
          </th>
        </tr>
      </tbody>

      <tfoot>
      </tfoot>
    </table>
  </div>
  <ul class="list-group">
    <li class="list-group-item"
    *ngFor="let user of users">
    <div class="row">
      <h5 class="col">Username: {{user.username}}</h5>
      <h5 class="col">Email: {{user.email}}</h5>
      <h5 class="col">Role: {{user.role}}</h5>
      <div class="col-xs-1">
        <button class="btn btn-danger btn-block float-right"
        (click)="deleteUser(user)">Delete User   <span class="fa fa-close"></span>
      </button>
    </div>
  </div>
  <!-- <h5 class="">Email: {{user.email}}</h5>
  <h5 class="">Role: {{user.role}}</h5> -->
</li>
</ul>
</div>
