
<div class="container">
  <h1>Admin Table</h1>
  <div class="table-responsive">
    <table id="admin_table" class="table-striped">
      <thead>
        <tr class="table">
          <th>Username</th>
          <th>Email</th>
          <th>&nbsp;</th>
        </tr>
        <tr class="table">

          <th><input type="text" class="form-control" placeholder="username" id="username" /></th>

          <th><input type="text" class="form-control" placeholder="email" id="email" /></th>

          <th>
            <button type="button" class="btn btn-primary" id='updateBtn'>Update</button>
            <button type="button" class="btn btn-success" id='createBtn'>Create</button>
          </th>
        </tr>

      </thead>
      <tbody>
      </tbody>
      <tfoot>
      </tfoot>

    </table>
  </div>
  <ul class="list-group">
    <li class="list-group-item"
        *ngFor="let user of users">
      <div class="row">
        <h4 class="col">Username: {{user.username}}</h4>
        <div class="col-xs-1">
          <button class="btn btn-danger btn-block float-right"
                  (click)="deleteUser(user)">
            <span class="fa fa-close"></span>
          </button>
        </div>
      </div>
      <h5 class="">Email: {{user.email}}</h5>
      <h5 class="">Role: {{user.role}}</h5>
    </li>
  </ul>
</div>
