
<div class="container">
  <h1>User Admin</h1>
  <div class="table-responsive">
    <table class="table-striped" border="1">
      <thead>
        <tr>
          <th>User ID</th>
          <th>Username</th>
          <th>Password</th>
          <th>First</th>
          <th>Last</th>
          <th>Email</th>
          <th>&nbsp;</th>
        </tr>
        <tr>
          <th><input type="text" placeholder="id" id="id" /></th>

          <th><input type="text" placeholder="username" id="username" /></th>

          <th><input type="password" placeholder="password" id="password" /></th>

          <th><input type="text" placeholder="first name" id="firstName" /></th>

          <th><input type="text" placeholder="last name" id="lastName" /></th>

          <th><input type="text" placeholder="email" id="email" /></th>

          <th>
            <button id='updateBtn'>Update</button>
            <button id='createBtn'>Create</button>
          </th>
        </tr>

      </thead>
      <tbody>
      </tbody>
      <tfoot>
      </tfoot>

    </table>
  </div>
</div>
