<input type="text"
       placeholder="Search for strains"
       id="searchFld"
       class="form-control"
       [(ngModel)]="query"
       (keyup.enter)="search(query)"/>
<button id="searchBtn"
        class="btn btn-lg btn-success btn-block"
        (click)="search(query)">Search</button>
<ul class="list-group">
  <div *ngFor="let res of result; let i=index">
    <li class="list-group-item" *ngIf="i<10"
       (click)="select(res)">
      {{res}}
    </li>
    <li class="list-group-item d-none d-sm-block" *ngIf="i>=10"
       (click)="select(res)">
      {{res}}
    </li>
  </div>
</ul>
